.nav {
  text-align: center;
  margin: 20px auto 0;
  background-color: rebeccapurple;
  border-radius: 5px;
  box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px,
    inset rgba(255, 255, 255, 0.9) 3px 3px 8px,
    rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: white;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: #2196f3;
}
